<div class="container" style="padding-top: 5em;">

  <div class="row">
    <h1 class="display-4 justify-content-center" style="text-align: center;">
      Biomaterial Search
    </h1>
  </div>

  <div class="row">
    <div class="container-fluid">
      <form class="d-flex row" action="/find" method="POST">
        <div class="col-md-12">
          <input class="form-control me-2" type="search" name="data" placeholder="Enter material name (Eg. Fe2O3) or material Id" aria-label="Search">
          <br>

        </div>

        <div class="col-md-12">
          <div class="row">
            <div class="col text-center">
              <button class="btn btn-success btn-lg" type="submit">Find Result</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

</div>